# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.env
*.venv

# Virtual environment
venv/
ENV/
env/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
media/
staticfiles/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
########################################################
# Additional unnecessary files/folders
########################################################
# Python cache and compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
# Django migrations cache
**/migrations/__pycache__/
# Project documentation and exports
*.pdf
# Postman collections
*.postman_collection.json